html{
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif !important;
    font-size: 17px;
}

body{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    width: 100%;
    min-height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

#header-logo{
    max-height:40px;
    max-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoimg{
    height: 50px;
    margin-left: 20px;
}

#searchbar{
    width: 50%;
    height: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(201, 201, 201);
    border-radius: 15px;
    padding: 8px;
    font-weight: 500;
    margin: 10px 0;
    transition: background-color 200ms ease-in-out;
}

#searchtext{
    color: gray;
    font-weight: 500;
    width:100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
}

#searchbar:hover{
    background-color: rgb(214, 214, 214);
}

#header-account-btn{
    position:relative;
    margin-right: 20px;
}

.btn-tab{
    left:0;
    top: 0;
    width:30px;
    height: 5px;
    border-radius: 15px;
    background-color: #1DA1F2;
    z-index:9999;
    margin-top: 4px;
    transition: transform 200ms ease-in-out;
}

#tab1{
    margin-top: 0px;
}


#header-account-btn:hover .btn-tab{
    transform: scaleX(1.2);
}

main{
    width:100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#newpost{
    width: 80%;
    color:black;
    padding-top: 100px;
}

#newpost-text{
    background-color: rgb(240, 240, 240);
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 10px 0 0 0;
    margin: 0;
    width: 100%;
    font-size: 20px;
    height: 150px;
    resize: none;
    min-height: fit-content;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

#newpost-counter{
    color:black;
}

#newpost-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#newpost-send, #getposts-btn{
    padding: 8px;
    color:white;
    border-radius: 10px;
    background-color: #1DA1F2;
}

.posttext{
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    font-size: 20px;
    min-height: fit-content;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}