:root{
    --purple: #6946AC;
    --light-purple: #6e56bd;
    --light-gray: #E2E4E9;
    --gray: #8E929D;
    --dark-gray: #333;
}

html{
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: var(--dark-gray);
}

body{
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

header{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px var(--light-gray) solid;
}

#site-wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 1;
}

.map {
    position: relative;
    height: 250px;
    width: auto;
    padding: 15px;
}

.ol-control{
      background: none !important;
}



.ol-control button{
    background-color: rgba(105, 70, 172,.5) !important;
    border: var(--purple) 1px solid !important;
}

.ol-control button:hover{
    background-color: rgba(106, 70, 172, 0.842) !important;
}

.post-body .map{
    margin-top: 15px;
    padding: 0px;
}

#center{
    position: absolute;
    top:50%;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%,-50%);
    border-radius: 50px;

    background-color: rgba(105, 70, 172,.5);
    border: 2px solid var(--purple);
    z-index: 9999;
}

canvas {
    border-radius: 15px;
}

ul {
    width: max-content;
    font-size: 10px;
    bottom: -5px;
    background-color: rgba(255, 255, 255, 0.5);
}

#header-logo:hover,
#newpost_loc_button_wrapper:hover,
#newpost_upl_button_wrapper:hover,
.gradient-btn:hover,
button:hover{
    cursor: pointer;
}

#header-logo{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 15px;
}

#header-searchbar-form{
    width:100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-searchtext{
    width:90%;
    height:30px;
    margin-left: 5px;
    border: none;
    outline:none;
    background: none;
    color: var(--dark-gray);
}

#header-searchbar-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-searchbar{
    display: flex;
    align-items: center;
    justify-content: left;
    width:80%;
    border-radius: 50px;
    border: 2px var(--light-gray) solid;
}

button{
    background: none;
    outline: none;
    border: none;
}

#header-useraccount-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient-btn{
    background: var(--purple);
    background-image: linear-gradient(0 0,
                        rgba(255, 255, 255, 0.2) 0%,
                        rgba(255, 255, 255, 0.2) 35%,
                        rgba(255, 255, 255, 0.6) 40%,
                        rgba(255, 255, 255, 0.0) 50%
                        ),
                      linear-gradient(to left, var(--purple) 0%, var(--light-purple) 100%);
    background-image: -webkit-linear-gradient(top left,
                      rgba(255, 255, 255, 0.2) 0%,
                      rgba(255, 255, 255, 0.2) 35%,
                      rgba(255, 255, 255, 0.6) 40%,
                      rgba(255, 255, 255, 0.0) 50%
                      ),
                      -webkit-linear-gradient(right, var(--purple) 0%, var(--light-purple) 100%);
    background-image: -moz-linear-gradient(0 0,
                      rgba(255, 255, 255, 0.2) 0%,
                      rgba(255, 255, 255, 0.2) 35%,
                      rgba(255, 255, 255, 0.6) 40%,
                      rgba(255, 255, 255, 0.0) 50%
                      ),
                    -moz-linear-gradient(right, var(--purple) 0%, var(--light-purple) 100%);
    background-repeat: no-repeat;
    background-position: -500px;
    background-size: 300%;
    transition: all 500ms ease-out;
    border-radius: 50px;
}

.noselect{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.gradient-btn:hover{
    background-position: 0;
    transition-duration: 500ms;
    -webkit-box-shadow: 0px 0px 21px -5px var(--purple); 
    box-shadow: 0px 0px 21px -5px var(--purple);
}

#header-useraccount{
    width: 250px;
    height: 34px;
    display: grid;
    grid-template-columns: auto 35px;
}

#header-welcomeusername{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

#header-username{
    margin-left: 5px;
    font-weight: 700;
}

#header-useravatar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-useravatarimage{
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

main{
    display: grid;
    grid-template-columns: 1fr minmax(500px,40%) 1fr;
}

#allposts-wrapper{
    width:100%;
    grid-column-start: 2;
}

#newpost-wrapper{
    width:100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#newpost-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    border: 2px var(--light-gray) solid;
}

#newpost-counter{
    font-size: 11px;
    font-weight: 300;
    color: var(--gray);
}

#newpost-text{
    width: 94%;
    height: 150px;
    margin: 15px;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--dark-gray);
    resize: none;
    outline: none;
    border: none;
    background: none;
}

#postphotowrapper{
    height: auto;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
}

#postphoto{
    width: 100%;
}

#newpost-bottom{
    width:100%;
    display: grid;
    grid-template-rows: auto;
}

#newpost-buttons{
    width:96%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    bottom: 15px;
}

#newpost_upl_button_wrapper{
    margin-left: 8px;
}

#newpost_loc_button_wrapper svg g path,
#newpost_upl_button_wrapper svg path{
    transition: all 200ms ease;
}

#newpost_loc_button_wrapper:hover svg g path{
    stroke:var(--gray);
}

#newpost_upl_button_wrapper:hover svg path{
    fill:var(--gray);
}

#newpost-counter-wrapper{
    display:flex;
    justify-content: center;
}

#newpost-counter-seperator{
    position: relative;
    height: 10px;
    width: 93%;
    bottom: 10px;
    border-top: 1px #EFEFEF solid;
}

#newpost-send{
    margin-top: 10px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    border-radius: 50px;
    padding: 8px 12px 8px 12px;
    font-size: 0.8rem;
}

#newpost-send svg{
    margin-right: 5px;
}

.post-wrapper{
    margin-top: 50px;
    position: relative;
    width:100%;
}

.post-info{
    position: absolute;
    display: flex;
    align-items: center;
    color:white;
    left: -20px;
    top: -20px;
    height: 41px;
    width: 160px;
    border-radius: 50px;
}

.post-info::before{
    position: absolute;
    color: var(--gray);
    font-size: 0.7rem;
    width: max-content;
    left: 170px;
    top: 24px;
    content: attr(postcreationdate);
}


.post-info img{
    position: relative;
    left: 3px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.post-postcreator{
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.post-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
    padding: 30px 15px 15px 15px;
    background-color: white;
    border-radius: 15px;
    border: 2px var(--light-gray) solid;
    word-wrap: break-word;
}

#allposts-seperator{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    font-weight: 700;
    font-size: 2rem;
}

#allposts-seperator::before{
    position: absolute;
    content: '';
    right: -20%;
    left: -20%;
    top: -10px;
    border-top:var(--light-gray) 2px dashed;
}

#page-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

#page-bottom-loading{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: var(--purple);
    animation: spinning_wheel 1s ease infinite;
}

footer{
    font-weight: 700;
    font-size: 0.8rem;
    color:var(--gray);
    position: fixed;
    left:50%;
    bottom: 5px;
    transform: translateX(-50%);
}

@keyframes spinning_wheel {
    0%{
        background-color: var(--purple);
        transform: rotateX(0deg);
    }
    50%{
        background-color: var(--gray);
        transform: rotateX(180deg);
    }
    100%{
        background-color: var(--purple);
        transform: rotateX(360deg);
    }
}