html{
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #333333;
}

body{
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

header{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px #E2E4E9 solid;
}

#header-logo,
#newpost_loc_button_wrapper:hover,
#newpost_upl_button_wrapper:hover,
#header-useraccount:hover{
    cursor: pointer;
}

#header-logo{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 15px;
}



label{
    width:100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-searchtext{
    width:90%;
    height:30px;
    margin-left: 5px;
    border: none;
    outline:none;
    background: none;
    color: #333333;
}

#header-searchbar-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-searchbar{
    display: flex;
    align-items: center;
    justify-content: left;
    width:80%;
    border-radius: 50px;
    border: 2px #E2E4E9 solid;
}

#header-useraccount-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-useraccount{
    width: 250px;
    height: 34px;
    border-radius: 50px;
    background: linear-gradient(145deg, #6946AC 0%, #6e56bd 100%);
    display: grid;
    grid-template-columns: auto 35px;
    transition: all 400ms ease;
}

#header-useraccount:hover{
    background: #7e5ac2;
}

#header-welcomeusername{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

#header-username{
    margin-left: 5px;
    font-weight: 700;
}

#header-useravatar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-useravatarimage{
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

main{
    display: grid;
    grid-template-columns: 1fr minmax(500px,40%) 1fr;
}

#allposts-wrapper{
    width:100%;
    grid-column-start: 2;
}

#newpost-wrapper{
    width:100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.newpost-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    border: 2px #E2E4E9 solid;
}

#newpost-counter{
    font-size: 11px;
    font-weight: 300;
    color: #8E929D;
}

#newpost-text{
    width: 94%;
    height: 150px;
    margin: 15px;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #333333;
    resize: none;
    outline: none;
    border: none;
    background: none;
}

#newpost-bottom{
    width:100%;
    display: grid;
    grid-template-rows: auto;
}

#newpost-buttons{
    width:96%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    bottom: 15px;
}

#newpost_upl_button_wrapper{
    margin-left: 8px;
}

#newpost_loc_button_wrapper svg g path,
#newpost_upl_button_wrapper svg path{
    transition: all 200ms ease;
}

#newpost_loc_button_wrapper:hover svg g path{
    stroke:#8E929D;
}

#newpost_upl_button_wrapper:hover svg path{
    fill:#8E929D;
}

#newpost-counter-wrapper{
    display:flex;
    justify-content: center;
}

#newpost-counter-seperator{
    position: relative;
    height: 10px;
    width: 93%;
    bottom: 10px;
    border-top: 1px #EFEFEF solid;
}

#newpost-send{
    margin-top: 10px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background: linear-gradient(145deg, #6946AC 0%, #6e56bd 100%);
    border-radius: 50px;
    padding: 8px 12px 8px 12px;
    font-size: 0.8rem;
}

#newpost-send svg{
    margin-right: 5px;
}

.post-wrapper{
    margin-top: 50px;
    position: relative;
    width:100%;
}

.post-info{
    position: absolute;
    display: flex;
    align-items: center;
    color:white;
    left: -20px;
    top: -20px;
    height: 41px;
    width: 160px;
    background: linear-gradient(145deg, #6946AC 0%, #6e56bd 100%);
    border-radius: 50px;
}

.post-info::before{
    position: absolute;
    color: #8E929D;
    font-size: 0.7rem;
    width: max-content;
    left: 170px;
    top: 24px;
    content: attr(postcreationdate);
}


.post-info img{
    position: relative;
    left: 3px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.post-postcreator{
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.post-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
    padding: 30px 15px 15px 15px;
    background-color: white;
    border-radius: 15px;
    border: 2px #E2E4E9 solid;
}

#allposts-seperator{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    font-weight: 700;
    font-size: 2rem;
}

#allposts-seperator::before{
    position: absolute;
    content: '';
    right: -20%;
    left: -20%;
    top: -10px;
    border-top:#E3E5EA 2px dashed;
}